# CODECHEF

### Basics

In [12]:
a=30
b=20
print("{} + {} = {}".format(a,b,(a+b)))   #empty placeholder
print("{0} * {1} = {2}".format(a,b,(a*b))) # Numbered placeholder
print("{firstn} + {secondn} = {res}".format(firstn=a,secondn=b,res=(a+b))) # labelled placeholder
print( "%d +%8.2f = %d "%(a,b,(a+b)))   #8.2 means 8 places , 2 for deci 1 for " . " and 5 for integer and here 3 place blank 

print(f"{a} + {b} = {(a+b)}")                 # main

30 + 20 = 50
30 * 20 = 600
30 + 20 = 50
30 +   20.00 = 50
30 + 20 = 50

In [13]:
#arithmetic operators

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a % b)
print(a ** b)

50
10
600
1.5
1
10
348678440100000000000000000000

In [19]:
#logical operators

print( 100 > 30 and 200 > 40 )
print( 100 > 30 and 40 > 200 )
print( 100 > 30 or 200 > 40 )
print( 100 > 30,not(200 > 40) )

True
False
True
True False

In [23]:
num=100
if num % 10 !=0:
    pass   # statement placeholder 
else:
    print("ok we can pass if block")

ok we can pass if block

In [28]:
for i in range(10,25,2):         
    print(i)

10
12
14
16
18
20
22
24

In [35]:
 i=1
while(i<=10):
    print("i= ",i)
    i+=1
else:
    print("Loop ok")
    
            
print("END")

i=  1
i=  2
i=  3
i=  4
i=  5
i=  6
i=  7
i=  8
i=  9
i=  10
Loop ok
END

In [1]:
list1=[11,22,33,44,"asdf",True] # List is mutable
print(list1,len(list1),type(list1),id(list1))

[11, 22, 33, 44, 'asdf', True] 6 <class 'list'> 2379515485888

In [13]:
tuple1=(11,22,33,44,"asdf",True) # sets are immutable
print(tuple1,len(tuple1), type(tuple1),id(tuple1))

(11, 22, 33, 44, 'asdf', True) 6 <class 'tuple'> 2379514755968

In [3]:
dict1={"apple":120,"mango":140,"banana":130}
print(dict1,len(dict1), type(dict1),id(dict1))

{'apple': 120, 'mango': 140, 'banana': 130} 3 <class 'dict'> 2379515493504

In [5]:
set1={11,33,True,22,44,55,66,22,44,55,66,"hai",True}
print(set1,len(set1),type(set1),id(set1))

{33, 66, True, 11, 44, 22, 55, 'hai'} 8 <class 'set'> 2379513540480

In [14]:
list1=[]
print(list1, len(list1), type(list1), id(list1))

tuple1=()
print(tuple1,len(tuple1),type(tuple1),id(tuple1))

dict1={}
print(dict1,len(dict1),type(dict1),id(dict1))

set1={}
print(set1,len(set1),type(set1),id(set1))

[] 0 <class 'list'> 2379515111424
() 0 <class 'tuple'> 2379437391984
{} 0 <class 'dict'> 2379515524224
{} 0 <class 'dict'> 2379515524160

In [16]:
num1=200
num2=100
print(num2,id(num1))
print(num2,id(num2))
num2=200
print(num2,id(num2))

100 2379437382096
100 2379437378896
200 2379437382096

In [20]:
var1=-6  #ids will remain same for multiple variables for values between -5 to 256
var2=-6
print(var1,id(var1),var2,id(var2))

print("")
a=2
b=2
print(a,id(a),b,id(b))

-6 2379533936720 -6 2379533938512

2 2379437375760 2 2379437375760

In [27]:
#functions with default arguments
def functn4(part1=111,part2=222,part3=333):
    print(f"part1={part1}, part2={part2},part3={part3}..")
    
functn4(100,200,300)
functn4(100,200)
functn4(100)
functn4()

part1=100, part2=200,part3=300..
part1=100, part2=200,part3=333..
part1=100, part2=222,part3=333..
part1=111, part2=222,part3=333..

In [32]:
def funct5(par1,par2=None):
    if(par2 is None):               #is compares id , = compares value
        return par1 + par1
    else:
        return par1 + par2
print(funct5(200))
print(funct5(100,800))

400
900

In [1]:
def functn6(num1,num2):
    total=num1+num2
    diff=num1-num2
    prod=num1*num2
    quot=num1/num2
    return total,diff,prod,quot
tt,dd,pp,qq=functn6(100,400)
print(f" total={tt} , diff={dd} ,prod={pp} , quot={qq}")

res=functn6(1000,400)
print(res,type(res),id(res))
print(f" total={res[0]} , diff={res[1]} ,prod={res[2]} , quot={res[3]}")

 total=500 , diff=-300 ,prod=40000 , quot=0.25
(1400, 600, 400000, 2.5) <class 'tuple'> 2376054716944
 total=1400 , diff=600 ,prod=400000 , quot=2.5

In [4]:
#function with variable number of arguments
def functn7(*arg):        #  * arg => it is a tuple variable 
    print (arg,len(arg), type(arg))
functn7("apple","banana","mango")    
functn7("monday","tuesday","wednesday","thursday","friday" )   
functn7(1,2,3,4,5,6,7,8,9)

('apple', 'banana', 'mango') 3 <class 'tuple'>
('monday', 'tuesday', 'wednesday', 'thursday', 'friday') 5 <class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9) 9 <class 'tuple'>

In [12]:
def functn8(**kwarg):    #  **kwarg => it is a  key-word argument
    
    print (kwarg,len(kwarg), type(kwarg))

functn8(student="teacher",momo=88,chowmin=120,roll=130,hai="False")

{'student': 'teacher', 'momo': 88, 'chowmin': 120, 'roll': 130, 'hai': 'False'} 5 <class 'dict'>

In [11]:
def functn9(*arg,**kwarg):    #  **kwarg => it is a dictionary variable 
    print (arg,len(arg), type(arg))
    
    print (kwarg,len(kwarg), type(kwarg))

functn9("apple","banana","mango",momo=88,chowmin=120,roll=130)   #mix of tuple and key word combo
print("")

functn9("apple","banana","mango")        # only tuple
print("")

functn9(momo=88,chowmin=120,roll=130)   #only dictionary

('apple', 'banana', 'mango') 3 <class 'tuple'>
{'momo': 88, 'chowmin': 120, 'roll': 130} 3 <class 'dict'>

('apple', 'banana', 'mango') 3 <class 'tuple'>
{} 0 <class 'dict'>

() 0 <class 'tuple'>
{'momo': 88, 'chowmin': 120, 'roll': 130} 3 <class 'dict'>

In [13]:
i=10
def funct10():
    i=190
    print (i,id(i))
print("Before calling the function , i=",i,id(i))
funct10()
print("After calling function , i=",i,id(i))

Before calling the function , i= 10 2375972880912
190 2375972886672
After calling function , i= 10 2375972880912

In [14]:
i=10
def funct10():
    global i
    i=190
    print (i,id(i))
print("Before calling the function , i=",i,id(i))
funct10()
print("After calling function , i=",i,id(i))

Before calling the function , i= 10 2375972880912
190 2375972886672
After calling function , i= 190 2375972886672

In [1]:
def factorialn(num):
    if (num==0 or num==1):
        return num
    fact=num
    for i in range(2,num):
        fact=fact*i
    return fact

print(factorialn(5))
print(factorialn(6))

120
720

In [2]:
def factorailnr(num):
    if (num==0 or num==1):
        return num
    return num*factorailnr(num-1)    #recursive case
print(factorialn(5))
print(factorialn(6))

120
720

In [3]:
result=input("Please enter a set of numbers: ")
print(result,type(result))

1 2 3 4  <class 'str'>

In [4]:
result=input("Please enter a set of numbers: ").split()
print(result,type(result))

['1', '2', '3', '4'] <class 'list'>

In [5]:
result=list(map(int,input("Please enter a set of numbers: ").split()))
print(result,type(result))

[1, 2, 3, 4, 5, 6, 7] <class 'list'>

In [5]:
def functn11(mystr):
    return len(mystr)

list1=["monday","friday","tuesday","thursday","wednesday" ]
result=list(map(functn11,list1))
print(result,type(result))

[6, 6, 7, 8, 9] <class 'list'>

### Lambda Function

In [8]:
mysquare=lambda num:num*num
print(mysquare(5))
print(mysquare(7))
print(type(mysquare))

25
49
<class 'function'>

In [11]:
myaddition=lambda num1,num2:num1+num2
print(myaddition(5,7))
print(myaddition(500,700))
print(type(myaddition))

12
1200
<class 'function'>

In [13]:
n=12
result="Even" if (n % 2 == 0) else "Odd"
print(n,result)

12 Even

In [15]:
myfactorial=lambda num1:1 if (num1==0 or num1 == 1) else num1*myfactorial(num1-1)
print(myfactorial(5))
print(myfactorial(6))
print(myfactorial(7))
print(myfactorial(0))

120
720
5040
1

## Dealing with math module

In [20]:
import math
print(math.gcd(100,45) , math.gcd(200,70))
print(math.pow(10,2) , 10**2, 10.0 ** 2)
print(math.sin(0) , math.cos(0) ,math.tan(0))
print(math.log(100) , math.log10(100))
print(math.factorial(5),math.pi)

5 10
100.0 100 100.0
0.0 1.0 0.0
4.605170185988092 2.0
120 3.141592653589793

In [23]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

## String Processing

L2R   ->   0  1  2  3  4  5  6  7  8  9
mystr ->   u  n  i  v  e  r  s  i  t  y 
R2L   -> -10 -9 -8 -7 -6 -5 -4 -3 -2 -1

In [4]:
mystr="university"

print(mystr,len(mystr),type(mystr),id(mystr))  #string indexing 
print(mystr[3] , mystr[-7] , mystr[7] , mystr[-3])
print(mystr[3:6] , mystr[-7:-4] , mystr[3:-4] , mystr[-7:6]  ) # string slicing
print(mystr[::2],mystr[1::2], mystr[::-1])   #even,odd,reverse index

university 10 <class 'str'> 2272936077424
v v i i
ver ver ver ver
uiest nvriy ytisrevinu

In [5]:
mystr="uNivERsiTy"

print(mystr,len(mystr),type(mystr),id(mystr))
print(mystr.upper())
print(mystr.lower())
print(mystr.capitalize())
print(mystr.title())
print(mystr.swapcase())

uNivERsiTy 10 <class 'str'> 2272935839664
UNIVERSITY
university
University
University
UnIVerSItY

In [6]:
mystr="abcd"
print(mystr,mystr.isalpha(),mystr.isalnum(),mystr.isdigit())

mystr="1234"
print(mystr,mystr.isalpha(),mystr.isalnum(),mystr.isdigit())

mystr="abcd1234"
print(mystr,mystr.isalpha(),mystr.isalnum(),mystr.isdigit())

mystr="abcd@1234"
print(mystr,mystr.isalpha(),mystr.isalnum(),mystr.isdigit())

abcd True True False
1234 False True True
abcd1234 False True False
abcd@1234 False False False

In [7]:
mystr="university"
print(mystr,mystr.index("ver")) # mystr.index("xyz"))
print(mystr.find("ver") , mystr.find("xyz"))

university 3
3 -1

In [8]:
mystr="A"

print(mystr,ord(mystr))

myvar=65
print(myvar , chr(myvar))

A 65
65 A

In [11]:
mystr="    Welcome to all   "
print(mystr,len(mystr))
print(mystr.strip(), len(mystr.strip()))
print(mystr.lstrip(), len(mystr.lstrip()))
print(mystr.rstrip(), len(mystr.rstrip()))

    Welcome to all    21
Welcome to all 14
Welcome to all    17
    Welcome to all 18

In [13]:
mystr="#@@@#Welcome to all#@#"
print(mystr,len(mystr))
print(mystr.strip("#@"), len(mystr.strip("#@")))
print(mystr.lstrip("#@"), len(mystr.lstrip("#@")))
print(mystr.rstrip("#@"), len(mystr.rstrip("#@")))

#@@@#Welcome to all#@# 22
Welcome to all 14
Welcome to all#@# 17
#@@@#Welcome to all 19

In [14]:
mystr="university"
print(mystr,len(mystr),type(mystr))

result=list(mystr)
print(result,type(result))

result=tuple(mystr)
print(result,type(result))

result=set(mystr)
print(result,type(result))

university 10 <class 'str'>
['u', 'n', 'i', 'v', 'e', 'r', 's', 'i', 't', 'y'] <class 'list'>
('u', 'n', 'i', 'v', 'e', 'r', 's', 'i', 't', 'y') <class 'tuple'>
{'s', 't', 'v', 'y', 'r', 'i', 'u', 'n', 'e'} <class 'set'>

In [15]:
mystr="charity should begin at home"
list1=mystr.split(" ")
print(list1)

list1=mystr.split("i")
print(list1)

['charity', 'should', 'begin', 'at', 'home']
['char', 'ty should beg', 'n at home']

In [19]:
list2=['charity', 'should', 'begin', 'at', 'home']
print(list2,type(list2))
mystr=" ".join(list2)
print(mystr,type(mystr))

mystr=" - ".join(list2)
print(mystr,type(mystr))

['charity', 'should', 'begin', 'at', 'home'] <class 'list'>
charity should begin at home <class 'str'>
charity - should - begin - at - home <class 'str'>

# Dealing with list