# CODECHEF

### Basics

In [12]:
a=30
b=20
print("{} + {} = {}".format(a,b,(a+b)))   #empty placeholder
print("{0} * {1} = {2}".format(a,b,(a*b))) # Numbered placeholder
print("{firstn} + {secondn} = {res}".format(firstn=a,secondn=b,res=(a+b))) # labelled placeholder
print( "%d +%8.2f = %d "%(a,b,(a+b)))   #8.2 means 8 places , 2 for deci 1 for " . " and 5 for integer and here 3 place blank 

print(f"{a} + {b} = {(a+b)}")                 # main

30 + 20 = 50
30 * 20 = 600
30 + 20 = 50
30 +   20.00 = 50
30 + 20 = 50

In [13]:
#arithmetic operators

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a % b)
print(a ** b)

50
10
600
1.5
1
10
348678440100000000000000000000

In [19]:
#logical operators

print( 100 > 30 and 200 > 40 )
print( 100 > 30 and 40 > 200 )
print( 100 > 30 or 200 > 40 )
print( 100 > 30,not(200 > 40) )

True
False
True
True False

In [23]:
num=100
if num % 10 !=0:
    pass   # statement placeholder 
else:
    print("ok we can pass if block")

ok we can pass if block

In [28]:
for i in range(10,25,2):         
    print(i)

10
12
14
16
18
20
22
24

In [35]:
 i=1
while(i<=10):
    print("i= ",i)
    i+=1
else:
    print("Loop ok")
    
            
print("END")

i=  1
i=  2
i=  3
i=  4
i=  5
i=  6
i=  7
i=  8
i=  9
i=  10
Loop ok
END

In [1]:
list1=[11,22,33,44,"asdf",True] # List is mutable
print(list1,len(list1),type(list1),id(list1))

[11, 22, 33, 44, 'asdf', True] 6 <class 'list'> 2379515485888

In [13]:
tuple1=(11,22,33,44,"asdf",True) # sets are immutable
print(tuple1,len(tuple1), type(tuple1),id(tuple1))

(11, 22, 33, 44, 'asdf', True) 6 <class 'tuple'> 2379514755968

In [3]:
dict1={"apple":120,"mango":140,"banana":130}
print(dict1,len(dict1), type(dict1),id(dict1))

{'apple': 120, 'mango': 140, 'banana': 130} 3 <class 'dict'> 2379515493504

In [5]:
set1={11,33,True,22,44,55,66,22,44,55,66,"hai",True}
print(set1,len(set1),type(set1),id(set1))

{33, 66, True, 11, 44, 22, 55, 'hai'} 8 <class 'set'> 2379513540480

In [14]:
list1=[]
print(list1, len(list1), type(list1), id(list1))

tuple1=()
print(tuple1,len(tuple1),type(tuple1),id(tuple1))

dict1={}
print(dict1,len(dict1),type(dict1),id(dict1))

set1={}
print(set1,len(set1),type(set1),id(set1))

[] 0 <class 'list'> 2379515111424
() 0 <class 'tuple'> 2379437391984
{} 0 <class 'dict'> 2379515524224
{} 0 <class 'dict'> 2379515524160

In [16]:
num1=200
num2=100
print(num2,id(num1))
print(num2,id(num2))
num2=200
print(num2,id(num2))

100 2379437382096
100 2379437378896
200 2379437382096

In [20]:
var1=-6  #ids will remain same for multiple variables for values between -5 to 256
var2=-6
print(var1,id(var1),var2,id(var2))

print("")
a=2
b=2
print(a,id(a),b,id(b))

-6 2379533936720 -6 2379533938512

2 2379437375760 2 2379437375760

In [27]:
#functions with default arguments
def functn4(part1=111,part2=222,part3=333):
    print(f"part1={part1}, part2={part2},part3={part3}..")
    
functn4(100,200,300)
functn4(100,200)
functn4(100)
functn4()

part1=100, part2=200,part3=300..
part1=100, part2=200,part3=333..
part1=100, part2=222,part3=333..
part1=111, part2=222,part3=333..

In [32]:
def funct5(par1,par2=None):
    if(par2 is None):               #is compares id , = compares value
        return par1 + par1
    else:
        return par1 + par2
print(funct5(200))
print(funct5(100,800))

400
900

In [1]:
def functn6(num1,num2):
    total=num1+num2
    diff=num1-num2
    prod=num1*num2
    quot=num1/num2
    return total,diff,prod,quot
tt,dd,pp,qq=functn6(100,400)
print(f" total={tt} , diff={dd} ,prod={pp} , quot={qq}")

res=functn6(1000,400)
print(res,type(res),id(res))
print(f" total={res[0]} , diff={res[1]} ,prod={res[2]} , quot={res[3]}")

 total=500 , diff=-300 ,prod=40000 , quot=0.25
(1400, 600, 400000, 2.5) <class 'tuple'> 2376054716944
 total=1400 , diff=600 ,prod=400000 , quot=2.5

In [4]:
#function with variable number of arguments
def functn7(*arg):        #  * arg => it is a tuple variable 
    print (arg,len(arg), type(arg))
functn7("apple","banana","mango")    
functn7("monday","tuesday","wednesday","thursday","friday" )   
functn7(1,2,3,4,5,6,7,8,9)

('apple', 'banana', 'mango') 3 <class 'tuple'>
('monday', 'tuesday', 'wednesday', 'thursday', 'friday') 5 <class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9) 9 <class 'tuple'>

In [12]:
def functn8(**kwarg):    #  **kwarg => it is a  key-word argument
    
    print (kwarg,len(kwarg), type(kwarg))

functn8(student="teacher",momo=88,chowmin=120,roll=130,hai="False")

{'student': 'teacher', 'momo': 88, 'chowmin': 120, 'roll': 130, 'hai': 'False'} 5 <class 'dict'>

In [11]:
def functn9(*arg,**kwarg):    #  **kwarg => it is a dictionary variable 
    print (arg,len(arg), type(arg))
    
    print (kwarg,len(kwarg), type(kwarg))

functn9("apple","banana","mango",momo=88,chowmin=120,roll=130)   #mix of tuple and key word combo
print("")

functn9("apple","banana","mango")        # only tuple
print("")

functn9(momo=88,chowmin=120,roll=130)   #only dictionary

('apple', 'banana', 'mango') 3 <class 'tuple'>
{'momo': 88, 'chowmin': 120, 'roll': 130} 3 <class 'dict'>

('apple', 'banana', 'mango') 3 <class 'tuple'>
{} 0 <class 'dict'>

() 0 <class 'tuple'>
{'momo': 88, 'chowmin': 120, 'roll': 130} 3 <class 'dict'>

In [13]:
i=10
def funct10():
    i=190
    print (i,id(i))
print("Before calling the function , i=",i,id(i))
funct10()
print("After calling function , i=",i,id(i))

Before calling the function , i= 10 2375972880912
190 2375972886672
After calling function , i= 10 2375972880912

In [14]:
i=10
def funct10():
    global i
    i=190
    print (i,id(i))
print("Before calling the function , i=",i,id(i))
funct10()
print("After calling function , i=",i,id(i))

Before calling the function , i= 10 2375972880912
190 2375972886672
After calling function , i= 190 2375972886672

In [1]:
def factorialn(num):
    if (num==0 or num==1):
        return num
    fact=num
    for i in range(2,num):
        fact=fact*i
    return fact

print(factorialn(5))
print(factorialn(6))

120
720

In [2]:
def factorailnr(num):
    if (num==0 or num==1):
        return num
    return num*factorailnr(num-1)    #recursive case
print(factorialn(5))
print(factorialn(6))

120
720

In [3]:
result=input("Please enter a set of numbers: ")
print(result,type(result))

1 2 3 4  <class 'str'>

In [4]:
result=input("Please enter a set of numbers: ").split()
print(result,type(result))

['1', '2', '3', '4'] <class 'list'>

In [5]:
result=list(map(int,input("Please enter a set of numbers: ").split()))
print(result,type(result))

[1, 2, 3, 4, 5, 6, 7] <class 'list'>

In [5]:
def functn11(mystr):
    return len(mystr)

list1=["monday","friday","tuesday","thursday","wednesday" ]
result=list(map(functn11,list1))
print(result,type(result))

[6, 6, 7, 8, 9] <class 'list'>

### Lambda Function

In [8]:
mysquare=lambda num:num*num
print(mysquare(5))
print(mysquare(7))
print(type(mysquare))

25
49
<class 'function'>